
 article {font-weight: bold;
    
    h3{ text-align: center;}

}

.principal{
    text-align: center;
    color: rgb(83, 80, 80);
}

.aside{
    margin: 20px;
    padding: 15px;
}

.container-fluid:hover{
    color: $colornegro;
}

.nav-item{
    background-color: $colornegro;
    
    // font-size: 1.5rem;
    
}

.btn:hover{
    background-color: white;
    color: $colornegro;
    border: 2px solid $colornegro;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
   
    article p{text-align: center;}
    h1{font-size: 3rem;}
    h2{font-size: 1,5rem;}
    
    
    label{padding: 10px;}
    a{ text-decoration: none;}
    input{padding: 10px;}
    p{
        font-size: 1rem;
        font-family:'Adamina', serif;
        font-weight: 400;
        padding: 10px;
    }
    body{
        background:black;
        background: linear-gradient(180deg, rgba(126,181,236,1) 2%, rgba(255,255,255,1) 56%, rgba(126,181,236,1) 100%);
    }
    
    ul{
        list-style-type: none;
        font-style: italic;
        font-weight: bold;
    }
    
