/* -----------------PRESA------------------ */
.prensa{
    text-align: center;
    padding: 10px;
}

iframe{
    padding: 10px;
}
.subtitulo__h2{
    padding: 10px;
}

.radio__h3{
    padding: 10px;
}
