form{
    width: 700px;
    margin: 0 auto;
    border: 5px solid black;
    background-color: rgb(189, 189, 189);
    padding: 15px;
    border-radius: 3px;   
}
.contacto_h3{
    text-align: center;
    padding: 10px;
}